  *{
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
  font-family:Cambria, Cochin, Georgia, Times, serif ;
  }


 .nav-1{
  display: flex;
    justify-content: center;
    align-items:  flex-start;
   gap: 6rem;
   background:  PaleVioletRed;
   min-height: 5rem;
   align-items: center;
    padding: 1rem;

  }
  .nav-1 a{
    text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bold;
  }
  .nav-1 a:hover{
    color: black;
    cursor: pointer;
      transform: scale(1.1) ;
  transition: all 0.3s ease-in-out;
  }
  
  .principal img {
    width: 40%;
    height: auto;
    background: PaleVioletRed;
    margin: 2rem;
    padding: 4rem;
    border-radius: 10%;
  }

  #comprar-agora{
 
  display: block;       
  width: 200px;           
  margin: 20px auto;    
  padding: 8px ;        
  text-decoration: none;  
  }
.Descricao{
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 4rem;
  justify-content: center;
  font-family: Arial, sans-serif
 }

  .principal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* espaço entre imagem e texto */
  font-size: 2.3rem;
  background: #E5E4E2;
  padding: 1rem;
  margin: 2rem;
}
.botao{
    display: block; 
  width: 8rem;
  height: 6rem;
  margin: 15rem;  
font-family:poppins, sans-serif;
  font-size: 2rem;
  color: #ba3c90;
  background-color: #ecdeea;
  border: none;
  border-radius: 20px;
  text-align: center;
}
.botao:hover{
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #631e5d;
  color: white;

}
