*{
  box-sizing: border-box;
  margin: 2%;
  padding: 5px;}

 .nav-1{
   display: flex;
   justify-content: center;
   gap: 8rem;
    align-items: center;
  font-size: 1.5rem;
  font-weight: bold
  }
  .principal img {
    width: 50%;
    height: auto;
    background: PaleVioletRed;
    margin: 2rem;
    padding: 6rem;
    border-radius: 10%;
  }

  #comprar-agora{
 
  display: block;       
  width: 200px;           
  margin: 20px auto;    
  padding: 8px ;        
  text-decoration: none;  
  }
#Escolher{
  display: flex;
  gap: 1rem;
  justify-content:flex-end
}
.nav-1{
    background: pink;
    height: 5rem;
}