*{
  box-sizing: border-box;
  margin: 0;
  padding: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
  color: #333333;
}
  .inicio{
    background:#F89CA7;
    height: 6rem;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
 .nav-1{
   display: flex;
   justify-content: center;
   gap: 8rem;
  }
#marketing{
    display: flex;
    gap: 8rem;
  }
   #vendas {
  display: flex;
  gap: 4rem;
}

