*{
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
  }
  .inicio{
    background:#F89CA7;
    min-height: 8rem;
    padding: 2rem;
  }
  .nav-1{
    justify-content: space-between;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
#cabecalho{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;}

#marketing{
    display: flex;
    gap: 8rem;
  }
   #vendas {
      display: flex;
gap: 2rem;
  padding: 2rem;

}

